# Entorno virtual
venv/
env/
ENV/
.venv

# Base de datos
db.sqlite3
*.db
*.sqlite
*.sqlite3

# Archivos de Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Django
*.log
local_settings.py
/staticfiles/
/static/
/media/

# Variables de entorno
.env
.env.local

# Archivos del sistema
.DS_Store
Thumbs.db

# Node (si usas frontend)
node_modules/
npm-debug.log
yarn-error.log